

@{
    ViewData["Title"] = "Maquinaria";
}
<div>
    <h2><img src="~/images/Maquinaria_logo.png" />          Inventario de máquinas</h2>
    Nuestro inventario de máquinas.
</div>

<p>
    <a data-toggle='modal' onclick="restablecer();" data-target='#modalDS' class='btn btn-info'>Agregar maquina</a>
</p>
<div class="form-group">
    <div class="col-md-6">
        <input id="filtrar" name="filtrar" placeholder="Buscar" onKeyUp="filtrarMaquinaria(1,'nombre');" class="form-control" />
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <a href="#" onclick='filtrarMaquinaria(1, "nombre")'>Nombre de la maquina</a>
            </th>
            <th>
                <a href="#" onclick='filtrarMaquinaria(1, "cantidad")'>Cantidad</a>
            </th>
            <th>
                <a href="#" onclick='filtrarMaquinaria(1, "actividad")'>Nombre de la actividad</a>
            </th>
            <th>
                Opciones
            </th>
        </tr>
    </thead>
    <tbody id="resultSearch"></tbody>
</table>
<div id="paginado">

</div>
<div class="modal fade" id="modalDS" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Agregar maquina</h4>
            </div>
            <div class="modal-body">
                <form asp-action="">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="Nombre" class="col-md-2 control-label">Nombre de la maquina</label>
                            <div class="col-md-10">
                                <input for="Nombre" id="Nombre" placeholder="Nombre" name="Nombre" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Cantidad" class="col-md-2 control-label">Cantidad</label>
                            <div class="col-md-10">
                                <input for="Cantidad" id="Cantidad" placeholder="Cantidad" name="Cantidad" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Actividad" class="col-md-2 control-label">Nombre de la actividad</label>
                            <div class="col-md-10">
                                <select id='ActividadMaquinarias' class="form-control"></select>
                            </div>
                        </div>

                    </div>
                    <label id="mensaje" class="col-md-5 control-label"></label>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="agregarMaquinaria()" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalMaquinaria" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Actualizar estado</h4>
            </div>
            <div class="modal-body">
                <h3 id="titleMaquinaria" class="modal-title"></h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="editarMaquinaria1()" class="btn btn-primary">Aceptar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="ModalDeleteDS" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Eliminar maquinaria</h4>
            </div>
            <div class="modal-body">
                <h3 id="titleCurso" class="modal-title"></h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="deleteMaquinarias()" class="btn btn-primary">Aceptar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->