@{
    ViewData["Title"] = "Contáctenos";
}
<div>
    <h2><img src="~/images/Contacto_logo.png" />          Contáctenos</h2>
</div>

<address>
    Nos encanta saber de ti y poderte ayudar<br />
    en lo que necesites. Por favor envíanos<br />
    tus dudas, inquietudes, sugerencias o <br />
    situaciones que pueden mejorar. Pronto<br />
    nos comunicaremos contigo:<br />
    <br />
    <strong>Datos de contacto del gimnasio:</strong><br />
    Medellín: 4487666 Ext.:9660<br />
    Línea nacional: 01 8000 182 657<br />
    WhatsApp: 321 820 55 00<br />
    Correo Electrónico: gimnasio.bienestaramigo.edu.co
</address>

<address>
    <strong>Soporte:</strong><br />
    <a href="julio.rovirato@amigo.edu.co">julio.rovirato@amigo.edu.co</a><br />
    <a href="santilopn5@gmail.com">santilopn5@gmail.com</a><br />
    <a href="elizabeth.pinedame@amigo.edu.co">elizabeth.pinedame@amigo.edu.co</a>
</address>
