@{
    ViewData["Title"] = "Confirmación de contraseña";
}

<h2>@ViewData["Title"]</h2>
<p>
    Tu contraseña ha sido restablecida. Por favor <a asp-action="Login">haga clic aquí para ingresar</a>.
</p>
